hr.line {
    border: 1px solid #777;
}
a:link,
a:active,
a:visited {
    color: #a05801;
    text-decoration: underline;
    transition: 0.5 ease;
}

#register {
    padding: 5% 0;
}

#register .upload-profile-image {
    position: relative;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    transition: filter .8s ease;
}

#register .upload-profile-image:hover {
    filter: drop-shadow(1px 1px 12px #7584bb);
}

#upload-profile {
    position: absolute;
    top: 0;
    right:-200%;
    z-index: 10;
    width: 200px;
    margin-top: 0px;
    opacity: 0;
}

#upload-profile::-webkit-file-upload-button {
    visibility: hidden;
}

#upload-profile::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
}

#register .upload-profile-image .camera-icon {
    position: absolute;
    top: 70px;
    width: 60px !important;
    filter: invert(30%) !important;
}

#register .upload-profile-image:hover .camera-icon {
    filter: invert(100%) !important;
}

input[type='text']::-webkit-input-placeholder{
    color: #a05801;
}
input[type='email']::-webkit-input-placeholder{
    color: #a05801;
}
input[type='password']::-webkit-input-placeholder{
    color: #a05801;
}

input[type='text']::-moz-input-placeholder{
    color: #a05801;
}
input[type='email']::-moz-input-placeholder{
    color: #a05801;
}
input[type='password']::-moz-input-placeholder{
    color: #a05801;
}

input[type='text']::-ms-input-placeholder{
    color: #a05801;
}
input[type='email']::-ms-input-placeholder{
    color: #a05801;
}
input[type='password']::-ms-input-placeholder{
    color: #a05801;
}

input[type='text']::placeholder{
    color: #a05801;
}
input[type='email']::placeholder{
    color: #a05801;
}
input[type='password']::placeholder{
    color: #a05801;
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'] {
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #777;
    background-color: transparent;
    color: #fbfbfb;
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'] {
    outline: none;
    box-shadow: none;
}

.col {
    margin-bottom: 8px;
}

#submit {
    color: #f2f2f2;
    font-weight: 500;
    background-color: #a05801;
    border: #a05801 1px solid;
    border-radius: 16px;
    transition: all 0.3s ease;
}

#submit:hover {
    color: #FFA500;
    background-color: #333;
    border: #a05801 1px solid;
    transform: scale(0.95); 
}